.header
  = render "/layouts/header"
.breadcrumbs
  = render "/layouts/breadcrumbs"
.profilesform
  .profilesform__in
    %ul
      %li
        %h1
          お名前（全角）
          %span 必須
        %h2
          %input.profilesform__in__family_name{:placeholder => "例）薬局", :type => "text"}
          %input.profilesform__in__first_name{:placeholder => "例）花子", :type => "text"}
      %li
        %h1
          お名前（カナ）
          %span 必須
        %h2
          %input.profilesform__in__family_name_kana{:placeholder => "例）ヤッキョク", :type => "text"}
          %input.profilesform__in__first_name_kana{:placeholder => "例）ハナコ", :type => "text"}
      %li
        %h1
          生年月日
          %span 必須
        %input.profilesform__in__birth{:placeholder => "例）19911206", :type => "text"}
      %li
        %h1
          性別
          %span 必須
        %input.profilesform__in__sex{:placeholder => "例）女性・男性・回答しない", :type => "text"}
      %li
        %h1
          郵便番号
        %input.profilesform__in__zipcode{:placeholder => "例）123-4567", :type => "text"}
      %li
        %h1
          都道府県
          %span 必須
        %input.profilesform__in__prefecuture{:placeholder => "例）大阪府", :type => "text"}
      %li
        %h1
          市区町村
          %span 必須
        %input.profilesform__in__city{:placeholder => "例）大阪市北区中崎町", :type => "text"}
      %li
        %h1
          番地
          %span 必須
        %input.profilesform__in__address{:placeholder => "例）１丁目１−１", :type => "text"}
      %li
        %h1
          建物名
        %input.profilesform__in__buildingname{:placeholder => "例）メディカルマンション101号室", :type => "text"}
      %li
        %h1
          電話番号
          %span 必須
        %input.profilesform__in__telephone{:placeholder => "例）090-1234-5678", :type => "text"}
      %li
        %br/
        %button.usersform__in__send{:name => "submit", :placeholder => "送信", :type => "submit"}
          問診の回答へ