.complete
  .complete__in
    = image_tag("mediask_logo_big.png", class: "logobig")
    %br/
    問診票の回答が完了しました。
    %br/
    お席にかけてお待ちください。
    %br/
    %br/
    = link_to "登録情報を確認する" ,mypage_interviews_path(id: current_user.id)

    8秒くらいでTOPページに遷移させる！（個人情報だから）