.header
  = render "/layouts/header"
.breadcrumbs
  = render "/layouts/breadcrumbs"
.userform
  .userform__in
    .userform__in__diagnosis
      %input.userform__in__diagnosis{:name => "email", :placeholder => "メールアドレス", :type => "email", :value => ""}
    .userform__in__se_medicine
    .userform__in__se_symptom
    .userform__in__medical_history
    .userform__in__supplement
    .userform__in__life_details
    .userform__in__drinking
    .userform__in__smoking
    .userform__in__dosage_form
    .userform__in__pregnancy
    .userform__in__breastfeeding
    .userform__in__child_weight
    .userform__in__generic