.header
  = render "/layouts/header"
.breadcrumbs
  = render "/layouts/breadcrumbs"
.interviews_show
  .interviews_show__in
    %table.interviews_show__in__users
      %tr
        %td
          ニックネーム
        %td
          薬局ちゃん
      %tr
        %td
          メールアドレス
        %td
          yakkyoku@yakkyoku.com
      %tr
        %td
          パスワード
        %td
          *******
    %table.interviews_show__in__profiles
      %tr
        %td
          お名前（全角）
        %td
          薬局 花子
      %tr
        %td
          お名前（カナ）
        %td
          ヤッキョク ハナコ
      %tr
        %td
          生年月日
        %td
          1991 / 12 / 6 
      %tr
        %td
          性別
        %td
          女性
      %tr
        %td
          住所
        %td
          大阪府 大阪市 北区中崎町 1丁目1-1 メディカルマンション101号室
      %tr
        %td
          電話番号
        %td
    登録情報を編集する
    .interviews_show__in__interviews
      過去の問診票
      %br/
      2020 / 7 / 5 記入分