.interviews_show {
  &__in {
    width: 700px;
    margin: auto;
    table {
      width: 100%;
      border-collapse:  collapse;
      td {
        border: solid 1px;
        padding: 5px;
      }
      td.left {
        background-color: rgb(182, 207, 240);
      }
    }
    &__edit {
      text-align: right;
      a {
        text-decoration: none;
        color: rgb(86, 201, 105);
      }
    }
    &__interviews {
      h1 {
        font-size: 20px;
        font-weight: bold;
        color: rgb(33, 69, 136);
      }
      a {
        color: black;
      }
    }
    &__back {
      margin: 80px;
      a {
        display: block;
        margin-top: 8px;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid rgb(86, 201, 105);
        background: rgb(86, 201, 105);
        color: #fff;
        line-height: 40px;
        text-align: center;
        width: 300px;
        padding: 5px;
        border-radius: 4px;
        text-decoration: none;
      }
    }
  }
}
