.profilesform {
  width: 300px;
  margin: 0 auto;
  &__in {
    width: 100%;
    font-size: 16px;
    margin-bottom: 15px;

    h1 {
      font-size: 14px;

      span {
        background-color:rgb(86, 201, 105);
        color:white;
        font-size: 12px;
        padding: 4px;
        border-radius: 2px;
      }
    }
    h2{
      display: flex;
    }
    .input {
      height: 40px;
      width: 300px;
      margin-right: 10px;
      margin-bottom: 10px;
    }
    .button {
      font-size: 16px;
      width: 300px;
      display: block;
      margin-top: 8px;
      margin-left: auto;
      margin-right: auto;
      border: 1px solid rgb(86, 201, 105);
      background: rgb(86, 201, 105);
      color: #fff;
      line-height: 40px;
      padding: 5px;
      border-radius: 4px;
      text-decoration: none;
    }

    &__birth {
      select {
        height: 40px;
        width: 70px;
        margin-bottom: 10px;
      }
    }

    &__sex {
      label {
        margin-right: 20px;
        margin-bottom: 10px;
      }
    }

  }
}