@import "reset";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "modules/index";
@import "modules/usersnew";
@import "modules/header";
@import "modules/profilesnew";
@import "modules/complete";
@import "modules/interviewsnew";
@import "modules/interviewsshow";
@import "modules/profilesedit";
@import "modules/mypage";
@import "modules/header2";
@import "modules/adminpage";
@import "modules/search";

.alert {
  color:#262626; 
  background:#FFEBE8;
  text-align: center;
  border:2px solid #990000;
  padding:12px; font-weight:850;
}